#hello_div{
    padding-top:  10px;
    padding-bottom:  10px;
    color: green;
}
.infinity {
    background-color: #12121260;
    padding: 50px 20px 50px 30px;
}
.redbold {
    color: red;
    font-weight: bold;
}
.grey {
    color: grey;
}
.borders {
    border: 1px solid black;
    width: 300px;
    margin: 0px;
    padding: 0px;
}
.bodyfont{
    padding: 2px 0px 2px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}
#client_text{
    width: 100%;
}

body {
    background-color: #121212;
    color: white;
}

input, textarea {
    background-color : rgba(169, 169, 169, 0.116);
    color: white;
    border: 2px solid #12121252;
    box-shadow: 2px 2px 2px 2px #0e0d0d;  
}

.contentdiv {
    height: 100%;
    background-color : rgba(169, 169, 169, 0.116);
    color: white;
    margin: 3px;
    padding: 3px;
    border: 2px solid #12121252;
    box-shadow: 2px 2px 2px 2px #0e0d0d;  
}

.noborder {
    margin-bottom: 10px;
    padding: 0px;
}


.welcomediv {
    background-color : #2c2c2c8e; 
    color: white;
    border: 2px solid #12121252;
    box-shadow: 2px 2px 2px 2px #0e0d0d;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}
  

.gold {
    color: greenyellow;
}

.navgy {
    color: greenyellow !important;
    font-weight: bold;
}

.dropdown-menu { 
    background-color: #1E1E1E;
    color: white !important;
}

.dropdown-item { 
    color: white;
}


.radiogold {
    color: greenyellow;
    border-color: greenyellow;
}

.edit {
    width: 20px;
    filter: invert(1);
}

.editView {
    width: 20px;
    float: right;
    padding-top: 10px;
    filter: invert(1);
}

#editor > * {
    margin-top: 5px;
    margin-bottom: 5px;
}

.sep {
    margin-right: 10px;
    margin-bottom: 10px;
}

.gridfont{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    text-align: center;
}

.square {
    float:left;
    position: relative;
    width: 5%;
    padding-bottom: 3%;
    background-color:#1E1E1E;
    overflow:hidden;
    outline: 1px solid #FFFFFF;
}

.labels {
    padding: 0px;
    margin: 0px;
    background-color:#1E1E1E;
    outline: 1px solid #FFFFFF;
}

.square-2 {
    background-color: #FFFFFF;
}

.center {
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}
.btn-group{
    text-align: center;
}

.img100 {
    width: 100%;
}

.container {
    position: relative;
}

.playprogress {
    border-left: 3px solid greenyellow;
    position: absolute;
    height: 100%;
    left: 9%;
    z-index: 1000;
}  
.playprogressalt { 
    left: 99%;
}
#tempo{
    width: 80px;
}

.btn-border{
    border: 2px solid greenyellow;
    border-radius: 8px;
    width: fit-content;
}

.description { 
    display: flex;
    font-weight:bold;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
}